{% extends "base.html" %}

{% block content %}
<div class="center-column">

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}


<h2>{{ question.question_text }}</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
<div class="d-grid gap-2">
<input class="btn btn-primary" type="submit" value="Vote">
</div>
</form>
</div>

{% endblock content %}