{% extends "base.html"%}

{% block content %}


<style>
    .sign-up-form {
        width:400px;
		margin: 100px auto;
		padding:60px;
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);

    }

</style>




<div class="sign-up-form">
        <h2>Sign up</h2>

    <form method='POST' action=">
        {% csrf_token %}

        {{form.username.label}}<br>
        {{form.username}}<br>

        {{form.email.label}}<br>
        {{form.email}}<br>

        {{form.password1.label}} <br>
        {{form.password1}}<br>

        {{form.password2.label}}<br>
        {{form.password2}}<br>
        <p>Already have an account? <a href="{% url 'accounts:loginPage' %}">Login Here</a></p>

        <input class="btn btn-success" type="submit" name="Create User">
    </form>
</div>



{%  endblock content %}



