{% extends "base.html" %}

{% block content %}

<div class="center-column">
	<h3>Login </h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p>Need an account? <a href="{% url 'register' %}">Register Here</a></p>
            </form>
        </div>
    </div>
</div>


	{% endblock %}
</div>